*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0;
    
}
.header__nav{
    background: #000000;
    padding: 34px 0;
}
.header__nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header__nav-list{
    display: flex;
    gap: 30px;
    
}
.logo{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

align-items: center;
color: #FFFFFF;

}
.logo__span{
    background: blue;
    border-radius: 3px;
    padding: 3px 5px;
}
.header__nav-link{
    font-size: 14px;
    line-height: 18px;
    color: white;
}
.main__cards-img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row: 1;
}
body{
    background: gray;gr
}